.hero-section {
  h1 {
    max-width: 120rem;

  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: @base-body-color;
    display: block;
  }
}

.header {
  .navbar-desktop {
    .uk-navbar-right a {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
