.hero-section {
  h1 {
    max-width: 122rem;

    .bulb {
      margin-top: -2rem;
    }

    .rocket {
      margin-right: -5rem;
    }
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: @base-body-color;
    display: block;
  }
}

.header {
  .navbar-desktop {
    .uk-navbar-right a {
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.negative-margin-top-section {
  margin-top: -@section-padding-vertical-m;
  position: relative;
  z-index: 1;
}

.negative-margin-bottom-section {
  margin-bottom: -@section-padding-vertical-m;
  position: relative;
  z-index: 1;
}

#servizi-offerti {
  position: relative;
  z-index: 2;
  border-radius:  0 0 5rem 5rem;

  h2 {
    max-width: 116rem;
  }

  .uk-card {
    border: 0.1rem solid #e7e7e7;
    text-decoration: none;
    transition: 0.3s;
    min-height: 41rem;

    h4 {
      font-size: 2.2rem;
    }

    svg {
      rect {
        transition: 0.3s;
        fill: @text-primary-color;
      }

      path {
        transition: 0.3s;
        fill: transparent;
      }
    }

    &:hover {
      color: @global-inverse-color;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
      border-color: transparent;

      h4 {
        color: @global-inverse-color;
      }

      svg {
        rect {
          fill: @global-inverse-color;
        }
        path {
          stroke: @text-primary-color;
        }
      }
    }
  }
}

[infinite-text-slider] {
  overflow: hidden;

  .slider-items {
    display: flex;
    gap: 4rem;
    max-width: none;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: max-content;
    animation: infinite-text-slide 13s linear infinite;

    > * {
      color: #8B6FA7;
      font-size: 14rem;
      letter-spacing: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      align-content: center;
      flex: 1;
    }
  }
}

@keyframes infinite-text-slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25.15%);
  }
}

.service-tile {
  background-color: #fff;

  .uk-panel {
    padding: 6.4rem 3.2rem 6.4rem 4.8rem;
  }
}

.analisi-strategia-tile {
  .image-container {
    margin-left: -6.4rem;
  }

  .uk-panel {
    padding-right: 8rem;
  }
}

.digital-adv-sem-tile {
  .image-container {
    padding: 4.8rem 0;
  }
}

.web-agency-selection-tile {
  .uk-panel {
    padding-right: 6.4rem;
  }

  .image-container {
    margin-left: -4.8rem;
  }
}

.per-le-agenzie-tile {
  .image-container {
    padding-top: 3.2rem;
  }
}

#reviews {
  border-radius: 5rem 5rem 0 0;
  position: relative;
  z-index: 2;
}

.reviews-slider {
  .review-description {
    padding-right: 1rem;
  }

  .slider-navigation {
    height: 12rem;
    position: relative;
    width: 3rem;

    > * {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 500;
      color: @base-body-color;
      display: none;
      
      &.uk-active {
        display: block;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.7rem;
        color: @base-heading-color;
      }

      &.previous-item {
        display: block;
        top: 0;
      }

      &.next-item {
        display: block;
        top: 100%;
        transform:  translate(-50%, -100%);
      }
    }
  }
}


.mail-button {
  color: @base-heading-color;
  position: relative;
  width: fit-content;
  margin: auto;
  transition: 0.3s;

  &:before {
    content: "";
    z-index: 1;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background-color: @text-primary-color;
    left: 0;
    right: 0;
    bottom: 0;
  }

  svg path {
    fill: none;
  }

  .link-text-container {
    position: relative;
    z-index: 2;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
    &:before {
      height: 100%;
    }
  }
}

.social-grid a {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @section-primary-background;
  transition: 0.2s;

  &:hover {
    background-color: @text-primary-color;
  }
}

#contacts {
  border-radius: 0 0 5rem 5rem;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 959px) {
  html {
    font-size: 9px;
    letter-spacing: 0.03rem;
  }

  .hero-section {
    h1 {
      .bulb {
        width: 5rem;
        margin-top: -1rem;
        margin-right: -3rem;
      }

      .rocket {
        width: 5rem;
      }
    }
  }

  .profile-image-column {
    min-height: 45rem;

    img {
      object-position: 100% 17% !important;
    }
  }

  #servizi-offerti {
    .uk-card {
      min-height: 35rem;

      .uk-card-body {
        padding: 1.6rem;
      }

      h4 {
        font-size: 2.3rem;
      }
    }

    .services-grid {
      margin-left: -1.6rem;

      > * {
        padding-left: 1.6rem;
      }
    }
  }

  .service-tile {
    .uk-panel {
      padding: 4.8rem 3.2rem;
    }

    .image-container img {
      display: block;
      margin: auto;
      width: 75%;
    }
  }

  .web-agency-selection-tile .image-container {
    margin-left: 0;
  }

  .digital-adv-sem-tile .image-container, .per-le-agenzie-tile .image-container {
    padding-top: 0;
  }

  .uk-navbar-container {
    margin: 0 1.6rem;
  }

  .uk-navbar-container {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05) !important;
    border: 0.1rem solid rgba(0,0,0,.08);
  }

  .uk-navbar-toggle+.uk-dropbar {
    width: 100%;
    max-width: calc(100% - 3.2rem);
    left: 0!important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0 0 1.6rem 1.6rem;
    background: rgba(255, 255, 255, 1);
  }

  .uk-navbar-container:has(.uk-dropbar.uk-open) {
    border-radius: 1.6rem 1.6rem 0 0;
    background: rgba(255, 255, 255, 1);

  }

  .reviews-slider {
    .navigation-container {
      margin-top: 4.8rem;

      > * {
        width: 100%;

        > .uk-grid {
          justify-content: space-around;
        }

      }

      .slider-navigation {
        width: 14rem;
        height: 4rem;

        > *.previous-item {
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }

        > *.next-item {
          left: 100%;
          top: 50%;
          transform: translate(-100%, -50%);
        }
      }
    }
  }

  #footer {
    .links-column .uk-panel > *:not(:first-child) {
      margin-top: 3.2rem!important;
    }
  }
}

@media screen and (max-width: 639px) {
  html {
    font-size: 8px;
  }

  .service-tile {
    &.web-agency-selection-tile {
      .icon-column + * {
        width: 80%;
      }
    }

    &.digital-adv-sem-tile {
      .icon-column + * {
        width: 82%;
      }
    }
  }
}
